<mat-card>
    <div class="progress-bar">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
    </div>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-erp">   
          <mat-form-field class="erp-full-width" appearance="fill">
            <mat-label>Login</mat-label>
            <input type="text" matInput placeholder="Login" formControlName="userNameControl">
            <mat-error *ngIf="userNameControl.hasError('text') && !userNameControl.hasError('required')">
              Por favor inserir o Usuário
          </mat-error>
          </mat-form-field>
          <mat-form-field class="erp-full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Senha" formControlName="passwordControl">
            <mat-error *ngIf="passwordControl.hasError('password') && !passwordControl.hasError('required')">
              Por favor inserir a senha
          </mat-error>
          </mat-form-field>       
          <button  mat-raised-button color="basic" type="submit" class="button" [disabled]="!loginForm.valid">Entrar</button>      
          <button  mat-raised-button color="basic" type="submit" class="button" (click)="resetPassword()">Esqueci minha senha</button>
          <button  mat-raised-button color="basic" type="submit" class="button" routerLink="/newUser">Cadastre-se</button>       
      </form>
    </mat-card-content>
  </mat-card>